name: Build APK Kasir

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Fix gradle permissions
        run: |
          chmod +x gradlew
          chmod -R 755 gradle

      - name: Build APK
        run: ./gradlew :app:assembleRelease

      - name: Find APK
        run: find . -name "*.apk"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: kasir-apk
          path: |
            **/build/outputs/apk/**/*.apk
